<div class="container">
    <div class="form">
        <div class="title">Verification</div>
        <div class="input-container ic2">
            <input id="lastname" class="input" type="text" placeholder=" " #code />
            <div class="cut"></div>
            <label for="lastname" class="placeholder">Code</label>
        </div>
      <div class="input-container ic2">
        <input id="email" class="input" type="text" placeholder=" " #email />
        <div class="cut"></div>
        <label for="lastname" class="placeholder">Email</label>
      </div>
        <button type="text" class="submit" (click)="verify(code.value , email.value)">Verify</button>
    </div>
</div>
