<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport " content="width=device-width, initial-scale=1.0">
        <title>Login Form</title>
    </head>
    <body>
        
       <div class="container">
        
        <form action="" class="form">
            <div class="sidee">
                <img [src]="omni" alt="">
                </div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Bienvenue sur votre espace <br/>de gestion de contenu multimédia !</p><br/>
            <label for="formGroupExampleInput">E-mail</label>
            <input type="email" name="email" class="box" >
            <label for="formGroupExampleInput">Mot de passe</label>
            <input type="password" name="password" class="box" >
            <input type="submit" value="je me connecte" id="submit">
            <a href="#">Mot de passe oublié?</a>
        </form>
        <div class="side">
           <img [src]="myimage" alt="">
        </div>
       </div>
    </body>
</html>
