*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #D9D9D9;
    width: 1690px;
    height:785px;
    //margin-top: 0px;
    
  
    

}*/

.container{
    display: flex;
    height: 600px;
    width: 900px;
    border: 1px solid #C6CED6;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 20px 0px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: #FFFFFF;
}
.form p{
    color: #0B2866;
    font-style: normal;
}
.form label{
    color: #0B2866;
    width: 65%;
    margin-top: 1px;
}
//sign in
.sidee{
    margin-top: 0px;
    height: 200px;
   //width: 100px;
}
//input

.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid #C6CED6;
}
#submit{
    padding: 12px ;
    width: 65%;
    margin-top: 15px;
    background-color: #105DFB;
    color: white;
    font-weight: blod;
    border: none;
    outline: none;
    
}
// clr cliq 
#submit:hover{
    cursor: pointer;
    background-color: #AFC6F8;
}
.form a{
    text-decoration: none;
    color:#2A4379;
    margin-top: 20px;
}
// cliq a
.form a:hover{
    color: #757575;
}

.side img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #AFC6F8;
    width: 450px;
    height:599px;
    // margin-top: 50px;
    //margin-left: 30px;
  
}



