<div class="layout-fluid theme-light">
  <div class="page">

    <header class="navbar-expand-md">
      <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-light">
          <div class="container-xl p-0">
            <ul class="navbar-nav">
              <li>
                <h1 class="navbar-brand navbar-brand-autodark p-0 border-end border-1">
                  <a href=".">
                    <img src="assets/static/logo.png" style="width: 250px;height:80px" alt="Tabler"
                         class="navbar-brand-image">
                  </a>
                </h1>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./">
                <span class="nav-link-title">
                      Accueil
                    </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./form-elements.html">

                <span class="nav-link-title text-primary fw-bold">
                      Condidats
                    </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="./form-elements.html">
                <span class="nav-link-title">
                      Appeles d'offres
                    </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="./form-elements.html">
                <span class="nav-link-title">
                      Matching
                    </span>
                </a>
              </li>
            </ul>
            <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
              <div class="navbar-nav flex-row order-md-last me-3">
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                     aria-label="Open user menu">
              <span class="avatar avatar-sm avatar-rounded bg-primary text-white">
                P
              </span>
                    <div class="d-none d-xl-block ps-2">
                      <div>Paweł Kuna</div>
                    </div>
                    <span class="fa fa-">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24"
                       height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                       stroke-linecap="round" stroke-linejoin="round">
                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                 <path d="M6 9l6 6l6 -6"></path>
                </svg>
              </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="#" class="dropdown-item">Status</a>
                    <a href="./profile.html" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a href="./settings.html" class="dropdown-item">Settings</a>
                    <a href="./sign-in.html" class="dropdown-item">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="page-wrapper h-100" style="background-color: #ebf1fd">
      <!-- Page header -->
      <div class="container-fluid p-0 h-100" style="min-height: 100vh!important;">
        <div class="d-flex align-items-stretch h-100" style="min-height: 100vh!important;height: 100%">

          <div *ngIf="!isFilterVisible" style="width: 35px" class="position-relative">

            <!-- open tab -->
            <span role="button" (click)="isFilterVisible=!isFilterVisible"
                  class="position-absolute end-0 mt-2 bg-white rounded rounded-circle p-1  border border-1"
                  style="margin-right:-15px">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24"
                   height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                   stroke-linecap="round" stroke-linejoin="round">
                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                 <path d="M9 6l6 6l-6 6"></path>
              </svg>
            </span>
          </div>

          <div *ngIf="isFilterVisible" style="width: 250px;" class="bg-white position-relative">

            <!-- open tab -->
            <span role="button" (click)="isFilterVisible=!isFilterVisible"
                  class="position-absolute end-0 mt-2 bg-white rounded rounded-circle p-1 border border-1"
                  style="margin-right:-15px">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24"
                   height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M15 6l-6 6l6 6"></path>
              </svg>
            </span>

            <div class="overflow-auto">
              <div class="my-4">
                <div class="input-icon">
                  <label class="form-label text-muted ms-3">Filtrer Par</label>
                  <span class="input-icon-addon">
                      <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                           stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                           stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                        d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                    </span>
                </div>
              </div>

              <div class="mb-3 ms-3 pe-2">

                <div (click)="toggleShowedFilterTabs('base')" class="d-flex justify-content-between" role="button">
                  <label class="nav-link-title fw-bold text-sm">
                    Infos de base
                  </label>
                  <span *ngIf="showedFilterTabs.base;else elseDown" class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                             <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                             <path d="M6 9l6 6l6 -6"></path>
                    </svg>
                  </span>
                  <ng-template #elseDown>
                       <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right"
                         width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                  </span>
                  </ng-template>
                </div>

                <div *ngIf="showedFilterTabs.base" class="">
                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Nom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Nom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Prenom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Prenom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Civilite</span>
                    </label>
                    <select type="text" class="form-select" placeholder="Civilite" id="select-tags" value="Mr">
                      <option value="Mr">Mr</option>
                      <option value="Mme">Mme</option>
                    </select>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">Addresse e-mail</span>
                    </label>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">N telephone</span>
                    </label>
                  </div>
                </div>

              </div>

              <div class="mb-3 ms-3 pe-2">
                <div (click)="toggleShowedFilterTabs('profissional')" class="d-flex justify-content-between"
                     role="button">
                  <label class="nav-link-title fw-bold text-sm">
                    Infos personnelles
                  </label>
                  <span *ngIf="showedFilterTabs.profissional;else elseDown" class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                             <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                             <path d="M6 9l6 6l6 -6"></path>
                    </svg>
                  </span>
                  <ng-template #elseDown>
                       <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right"
                         width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                  </span>
                  </ng-template>
                </div>

                <div *ngIf="showedFilterTabs.profissional" class="">
                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Nom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Nom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Prenom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Prenom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Civilite</span>
                    </label>
                    <select type="text" class="form-select" placeholder="Civilite" id="select-tags" value="Mr">
                      <option value="Mr">Mr</option>
                      <option value="Mme">Mme</option>
                    </select>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">Addresse e-mail</span>
                    </label>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">N telephone</span>
                    </label>
                  </div>
                </div>

              </div>

              <div class="mb-3 ms-3 pe-2">
                <div (click)="toggleShowedFilterTabs('formation')" class="d-flex justify-content-between" role="button">
                  <label class="nav-link-title fw-bold text-sm">
                    Formations
                  </label>
                  <span *ngIf="showedFilterTabs.formation;else elseDown" class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                             <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                             <path d="M6 9l6 6l6 -6"></path>
                    </svg>
                  </span>
                  <ng-template #elseDown>
                       <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right"
                         width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                  </span>
                  </ng-template>
                </div>

                <div *ngIf="showedFilterTabs.formation" class="">
                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Nom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Nom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Prenom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Prenom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Civilite</span>
                    </label>
                    <select type="text" class="form-select" placeholder="Civilite" id="select-tags" value="Mr">
                      <option value="Mr">Mr</option>
                      <option value="Mme">Mme</option>
                    </select>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">Addresse e-mail</span>
                    </label>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">N telephone</span>
                    </label>
                  </div>
                </div>

              </div>

              <div class="mb-3 ms-3 pe-2">

                <div (click)="toggleShowedFilterTabs('auther')" class="d-flex justify-content-between" role="button">
                  <label class="nav-link-title fw-bold text-sm">
                    Autres informations
                  </label>

                  <span *ngIf="showedFilterTabs.auther;else elseDown" class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                             <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                             <path d="M6 9l6 6l6 -6"></path>
                    </svg>
                  </span>
                  <ng-template #elseDown>
                       <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right"
                         width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                  </span>
                  </ng-template>

                </div>

                <div *ngIf="showedFilterTabs.auther" class="">
                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Nom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Nom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Prenom</span>
                    </label>
                    <input type="text" class="form-control" name="example-text-input"
                           placeholder="Prenom">
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" checked="">
                      <span class="form-check-label text-dark">Civilite</span>
                    </label>
                    <select type="text" class="form-select" placeholder="Civilite" id="select-tags" value="Mr">
                      <option value="Mr">Mr</option>
                      <option value="Mme">Mme</option>
                    </select>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">Addresse e-mail</span>
                    </label>
                  </div>

                  <div class="mt-3">
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-label text-dark">N telephone</span>
                    </label>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <!-- content -->

          <div class="col">
            <div class="page-header d-print-none">
              <div class="container-xl">
                <div class="row g-2 align-items-center mt-3">
                  <div class="col">
                    <h1 class="page-title fw-bold">
                      Condidats
                    </h1>
                  </div>
                  <!-- Page title actions -->
                  <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                      <a routerLink="/candidat" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                         data-bs-target="#modal-report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 5l0 14"></path>
                          <path d="M5 12l14 0"></path>
                        </svg>
                        Ajouter un condidat
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-body px-4 ">
              <div class="col row g-2 align-items-center mt-3 mb-3 position-relative">

                <div class="col">
                  <h3 class="page-title">
                    Liste des condidats
                  </h3>
                </div>

                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                  <div class="btn-list">

                    <div role="button" class="btn  btn-white text-dark fw-bold text-center pe-0 px-3 ">
                      <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate" width="24"
                           height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5"></path>
                      </svg>
                    </div>

                    <div (click)="isFiltersTabsVisible=!isFiltersTabsVisible" role="button"
                         class="btn  btn-white text-dark fw-bold text-center pe-0 px-3 border-0"
                         [ngClass]="[ isFiltersTabsVisible ? 'bg-info bg-opacity-50' : ''  ]">
                      <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                           stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                           stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                      </svg>
                    </div>

                  </div>
                </div>

                <!-- Page filter -->
                <div *ngIf="isFiltersTabsVisible" class="card position-absolute end-0 px-0"
                     style="z-index: 1000000;width: 350px;margin-top: 420px">
                  <div class="card-body px-0 pb-0">

                    <div
                      class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last pb-2 border-bottom border-1 mb-4">
                      <div class="input-icon align-content-center px-2">
                      <span class="input-icon-addon ms-2 text-center">
                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                          d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                      </span>
                        <input style="min-height:  24px!important;" type="text"
                               value=""
                               class="form-control"
                               placeholder="Search…"
                               aria-label="Search in website">
                      </div>
                    </div>

                    <div class="mt-1 px-2" style="max-height: 300px;overflow-y: auto">
                      <label class="form-check mb-3 mt-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Nom</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Prénom</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Prénom</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Fonction actuelle</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Statut</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Année d'expérience</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Niveau d'expérience</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-label">Type de contrat</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-label">Civilite</span>
                      </label>
                      <label class="form-check mb-3">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-label">Addresse e-mail</span>
                      </label>
                    </div>

                  </div>
                </div>

              </div>
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive " style="min-height: 60vh">
                    <table class="table card-table table-vcenter text-nowrap datatable ">
                      <thead class="bg-white rounded rounded-3">
                      <tr>
                        <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"
                                               aria-label="Select all invoices"></th>
                        <th>NOM</th>
                        <th>PRENOM</th>
                        <th>FONCTION</th>
                        <th>STATUT DU...</th>
                        <th>ANNEES...</th>
                        <th>NIVEAU...</th>
                        <th>TYPE DE...</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr *ngFor="let cond of getData()">
                        <td>
                          <input class="form-check-input m-0 align-middle" type="checkbox"
                                 aria-label="Select invoice">
                        </td>
                        <td>
                          <span class="text-reset" tabindex="-1">{{cond.first_name}}</span>
                        </td>
                        <td>
                          <span class="text-reset">
                            {{cond.last_name}}
                          </span>
                        </td>
                        <td>
                          {{cond.function}}
                        </td>
                        <td>

                          <span class="badge bg-{{cond.statusCondidat.color}} me-1 bg-opacity-50 text-dark">
                             {{cond.statusCondidat.name}}
                          </span>

                        </td>
                        <td>
                          <span class="text-reset">
                             {{cond.years_of_experience}} ans
                          </span>
                        </td>
                        <td>
                          <span class="badge bg-{{cond.niveauxExperience.color}} me-1 bg-opacity-50 text-dark">
                             {{cond.niveauxExperience.name}}
                          </span>
                        </td>
                        <td>
                          <span class="text-reset">
                             {{ cond.typeContrat }}
                          </span>
                        </td>

                      </tr>


                      </tbody>
                    </table>
                  </div>

                </div>

                <div class="card bg-transparent shadow-none mt-3 border-0">
                  <div class="card-footer row align-items-center border-0 shadow-none bg-transparent">
                    <div class="col-sm-6">
                      <ul class="pagination m-0">
                        <li (click)="onClickPreviousPage()"
                            class="page-item" [classList]="currentPage == 1 ? 'page-item disabled' : 'page-item'">
                          <a role="button" class="page-link">
                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M15 6l-6 6l6 6"></path>
                            </svg>
                          </a>
                        </li>

                        <li *ngFor="let i of getShowedPages()" class="page-item"
                            (click)="currentPage= i"
                            [classList]="  i==currentPage ? 'page-item active-page' : 'page-item'  ">
                          <a role="button" class="page-link">{{ i }}</a>
                        </li>
                        <li *ngIf="getShowedPages()[getShowedPages().length-1] != totalOfPages" class="page-item">
                          <a role="button" class="page-link">...</a>
                        </li>
                        <li class="page-item"
                            *ngIf="getShowedPages()[getShowedPages().length-1] != totalOfPages"
                            (click)="currentPage= totalOfPages"
                            [classList]="  totalOfPages==currentPage ? 'page-item active-page' : 'page-item'  ">
                          <a role="button" class="page-link">{{ totalOfPages }}</a>
                        </li>

                        <li class="page-item"
                            (click)="onClickNextPage()"
                            [classList]="currentPage == totalOfPages ? 'page-item disabled' : 'page-item'">
                          <a role="button" class="page-link">
                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M9 6l6 6l-6 6"></path>
                            </svg>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length bs-select text-end " id="dtBasicExample_length">
                        <label class="text-end d-inline-flex">Showing
                          <select [(ngModel)]="perPage" class="form-select form-select-sm mx-2 w-auto">
                            <option *ngFor="let i of perPageOptions" [ngValue]="i">{{i}}</option>
                          </select> of {{data.length}} items</label></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- end content -->


        </div>
      </div>

    </div>
  </div>
</div>