<div class="container">
    <form ngNativeValidate class="form" >
  
        <div class="sidee">
            <img [src]="omni" alt="">
        </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Bienvenue sur votre espace <br/>Pour Réinitialiser votre Mot de passe !</p>
        <input type="hidden" id="token" name="token" [(ngModel)]="tokenValue" #token>
  
        <label for="password" class="placeholder">Mot de passe</label>
        <input id="password" class="box" type="password" name="password"  required placeholder="" #password/>
   
        <label for="email" class="placeholder">Confirmez le mot de passe</label>
        <input id="email" class="box" type="password"  placeholder=" " required #passwordConf />
        
          
          <input type="submit" class="submit" (click)="reset(token.value,password.value)"   value="Réinitialiser" id="submit">
      
  </form>
    </div>
    