<div class="container">
    <div class="form">
      <div class="sidee">
                  <img [src]="omni" alt="">
                  </div>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;Bienvenue sur votre espace </p>
      
        <label for="email" class="placeholder">E-mail</label>
        <input id="email" name="email" class="box" type="email"  required  #email/>
      
        
      
        <input type="submit" class="submit" (click)="check(email.value)"  value="Réinitialiser mon mot de passe" id="submit">
      <div style=" margin-top: 20px ">
            <span class="errors" style="color: red ;">
                {{errors}}               
            </span>
            
      </div>
   
      <input type="submit" class="submit"  value="Je me connecte" routerLink="/login" id="forgot">
       
    </div>
     <div class="side">
             <img [src]="myimage" alt="">
          </div>
  </div>
  
