<div class="container">
  <div class="form">
    <div class="title">Login</div>
    <div class="input-container ic2">
      <input id="lastname" class="input" type="text" placeholder=" " #username/>
      <div class="cut"></div>
      <label for="lastname" class="placeholder">email</label>
    </div>
    <div class="input-container ic2">
      <input id="email" class="input" type="password" placeholder=" " #password/>
      <div class="cut cut-short"></div>
      <label for="email" class="placeholder">Password</label>
    </div>
    <button type="text" class="submit" (click)="login(username.value,password.value)">login</button>
    <div style=" margin-top: 20px ">
          <span class="errors" style="color: red ;">
            {{errors}}
          </span>
    </div>
  </div>
</div>
