<div class="container">
  <div class="form">
    <div class="sidee">
                <img [src]="omni" alt="">
                </div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Bienvenue sur votre espace <br/>de gestion de contenu multimédia !</p>
    
      <label for="lastname" class="placeholder">E-mail</label>
      <input id="lastname" class="box" type="text" placeholder=" " #username/>
    
      <label for="email" class="placeholder">Mot de passe</label>
      <input id="email" class="box" type="password" placeholder=" " #password/>
    
      <input type="submit" class="submit" (click)="login(username.value,password.value)" value="je me connecte" id="submit">
    <div style=" margin-top: 20px ">
          <span class="errors" style="color: red ;">
            {{errors}}
          </span>
    </div>
     <a routerLink="/forgot_password">Mot de passe oublié?</a>
  </div>
   <div class="side">
           <img [src]="myimage" alt="">
        </div>
</div>